<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Recomendacion de peliculas {{option_a}} vs {{option_b}}!</title>
  <base href="/index.html">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0">
  <meta name="keywords" content="docker-compose, docker, stack">
  <meta name="author" content="Tutum dev team">
  <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

  <header>
    <div id="logo"></div>
    <div id="linea"></div>
    <h1 id="titulo">Recomendaciones de Películas</h1>
  </header>

  <main>
    <p id="subtitulo">Selecciona hasta 3 usuarios para consultar que pelicula recomendarles</p>
    <div id="formulario">
      <form id="choice" name='form' method="POST" action="/">
        <div class="circle">
          <select id="option_a" name="option_a" required>
              <option value="opcion1">Usuario 7</option>
              <option value="opcion2">Usuario 23</option>
              <option value="opcion3">Usuario 92</option>
            {% for usuario in usuarios %}
            <option value="{{ usuario }}">{{ usuario }}</option>
            {% endfor %}
          </select>
          <div id="recomendaciones_a">
            <!-- recomendaciones de películas -->
          </div>

          <select id="option_b" name="option_b" required>
              <option value="opcion1">Usuario 3536</option>
              <option value="opcion2">Usuario 245</option>
              <option value="opcion3">Usuario 11</option>
            {% for usuario in usuarios %}
            <option value="{{ usuario }}">{{ usuario }}</option>
            {% endfor %}
          </select>
          <div id="recomendaciones_b">
            <!-- recomendaciones de películas -->
          </div>

          <select id="option_c" name="option_c" required>
              <option value="opcion1">Usuario 5</option>
              <option value="opcion2">Usuario 845</option>
              <option value="opcion3">Usuario 141</option>
            {% for usuario in usuarios %}
            <option value="{{ usuario }}">{{ usuario }}</option>
            {% endfor %}
          </select>
          <div id="recomendaciones_c">
            <!-- recomendaciones de películas -->
          </div>
        </div>
        <button id="calculate" type="submit" name="calculate" class="calculate">Calcular</button>
      </form>
    </div>
    <div class="reporte">
      <button id="reporte">Imprimir reporte</button>
    </div>
      <!--Generamos un reporte ficticio-->
      <div id="reporte_resultados">
        <h2>Reporte de recomendaciones</h2>
        <p>Usuario 7: </p>
        <ul>
          <li>Recomendación pelicula 2701</li>
          <li>Recomendación pelicula 4306</li>
          <li>Recomendación pelicula 8742</li>
        </ul>
        <p>Usuario 11: </p>
        <ul>
          <li>Recomendación pelicula 2701</li>
          <li>Recomendación pelicula 8368</li>
          <li>Recomendación pelicula 4342</li>
        </ul>
        <p>Usuario 5: </p>
        <ul>
          <li>Recomendación pelicula 37741</li>
          <li>Recomendación pelicula 4466</li>
          <li>Recomendación pelicula 8742</li>
        </ul>
      </div>
  </main>

  <footer>
    <p id="footer">Procesado por el contenedor con ID {{hostname}} - Hecho por CodePlaeis</p>
  </footer>

  <!--
  <div id="content-container">
    <div id="content-container-center">
      <h3>{{option_a}} vs {{option_b}}!</h3>
      <form id="choice" name='form' method="POST" action="/">
        <button id="a" type="submit" name="vote" class="a" value="a">{{option_a}}</button>
        <button id="b" type="submit" name="vote" class="b" value="b">{{option_b}}</button>
      </form>
      <div id="tip">
        (Tip: you can change your vote)
      </div>
      <div id="hostname">
        Processed by container ID {{hostname}}
      </div>
    </div>

  </div>

-->

  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  {% if vote %}
  <script>
    var vote = "{{vote}}";

    if (vote == "a") {
      $(".a").prop('disabled', true);
      $(".a").html('{{option_a}} <i class="fa fa-check-circle"></i>');
      $(".b").css('opacity', '0.5');
    }
    if (vote == "b") {
      $(".b").prop('disabled', true);
      $(".b").html('{{option_b}} <i class="fa fa-check-circle"></i>');
      $(".a").css('opacity', '0.5');
    }
  </script>
  {% endif %}
  {% if similarity %}
  <div id="similarity">
    <p>Similitud del coseno: {{ similarity }}</p>
  </div>
  {% endif %}
  {% if ratings_data %}
  <div id="ratings-data">
    <p>Ratings Data: {{ ratings_data }}</p>
  </div>
  {% endif %}
</body>

</html>